html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */

/**** Designing for Mobile First ****/

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

.site-container {
	font-family: Lato, sans-serif;
	color: #0a0a23;
	line-height: 1.6;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:  auto auto minmax(auto, 1fr) auto;
	grid-template-areas:
		'nav'
		'header'
		'main'
		'footer-container';
	row-gap: 20px;
	overflow-y: scroll;
}

nav {
	grid-area: nav;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
}

nav .nav-top {
	background-color: #0a0a23;
	height: 45%;
	display: flex;
	padding: 10px;
}

nav .nav-top-left {
	display: none;
	height: 100%;
	width: 40%;
	background-color: pink;
}

nav .nav-top-center {
	height: 100%;
	width: 20%;
	/* background-color: red; */
	flex-grow: 1;
	order: -1;
}

nav .nav-top-center img {
	width: 200px;
	max-width: 100%;
	height: 76px;
	margin: -30px 0 0 0;
}

nav .nav-top-right {
	height: 100%;
	width: 40%;
	background-color: #0a0a23;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .nav-top-right a:first-child {
	display: none;
}

nav .nav-top-right button {
	width: 7.5em;
	height: 1.5em;
	border: 3px solid #f1a02a;
	background-color: #feac32;
	font-size: 18px;
	margin-right: 10px;
	cursor: pointer;
}

nav .nav-top-right button:hover {
	background-color: #fbb54d;
}

nav .nav-bottom {
	background-color: #002ead;
	height: 55%;
	display: flex;
	align-content: center;
	justify-content: center;
}

nav .nav-bottom a {
	text-decoration: none;
	color: white;
	text-align: center;
	margin: auto;
	font-size: 14px;
	font-weight: bold;
}

nav .nav-bottom a span {
	text-decoration: underline;
}

nav .nav-bottom a span:hover {
	text-decoration: none;
}

header {
	/* background-color: lime; */
	background-color: white;
	grid-area: header;
	padding: 0 20px 0;
	line-height: 1.15;
}

header span:first-child {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #3B3B4F;
}

header span:first-child :only-child {
	color: #002ead;
	text-decoration: none;
}

header span:first-child :only-child:hover {
	text-decoration: underline;
}

header h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

header .writer {
	display: flex;
	align-items: center;
}

header .writer img {
	width: 60px;
	height: 60px;
	margin-right: 15px;
}

header .writer span {
	font-weight: bold;
	font-size: 20px;
}

main {
	/* background-color: aqua; */
	grid-area: main;
	padding: 0 20px 0;
	display: grid;
	
	/*****put this in larger screen****/
	/* grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(3, auto); */
	/* grid-template-areas:
		'hero hero'
		'section-primary aside'
		'section-secondary section-secondary'; */
		/* gap: 20px; */
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);	
	grid-template-areas:
		'hero'
		'section-primary'
		'section-secondary'
		'section-advertisement';
	gap: 20px;	
}

main .hero {
	display: none;
	grid-area: hero;
	/* background-color: red; */
}

main section.primary {
	grid-area: section-primary;
	/* background-color: green; */
}

main section.primary p {
	margin-bottom: 10px;
	font-size: 19px;
}

main section.primary p:first-of-type {
	font-size: 24px;
}

/****put this in larger screen****/

/* main aside {
	grid-area: aside;
	background-color: blue;
} */

main section.primary figure {
	margin: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main section.primary figure img {
	width: 100%;
	max-width: 600px;
	height: 100%;
	max-height: 337px;
	margin-bottom: 10px;
}

main section.primary figure figcaption {
	text-align: center;
}

/* main section.primary iframe {
	max-width: 40em;
	max-height: 30em;
} */

main section ul {
	list-style-type: disc;
	padding-left: 1.3em;
	padding-right: 1.5em;
	margin-bottom: 33px;
	font-size: 19px;
}

main section ul li {
	margin-bottom: 15px;
}

main section ul + p a {
	color: #0a0a23;
}

main section.secondary {
	grid-area: section-secondary;
	font-size: 19px;
}

main section.secondary .writer {
	display: flex;
	align-items: flex-start;
	border-top: 1px solid #e2e2e5;
	border-bottom: 1px solid #e2e2e5;
	padding: 15px 0;
	margin-bottom: 30px;
}

main section.secondary .writer img {
	width: 60px;
	height: 60px;
	margin-right: 15px;
}

main section.secondary .about-writer span {
	font-weight: bold;
	font-size: 20px;
}

main section.secondary .about-writer p {
	font-size: 15px;
	line-height: 1.3;
}

main section.secondary .tweet p {
	margin-bottom: 40px;
}

main section.secondary .tweet button {
	font-size: 22px;
	border: 3px solid #0a0a23;
	background-color: #dfdfe2;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
}

main section.secondary .tweet button:hover {
	background-color: #0a0a23;
	color: white;
}

main section.advertisement {
	grid-area: section-advertisement;
}

main section.advertisement p {
	font-size: 14px;
	text-align: center;
	color: #b5b5bd;
	margin-bottom: 10px;
}

main section.advertisement div {
	height: 200px;
	background-color: #fafafa;
}

.footer-container {
	background-color: #EEEEF0;
	grid-area: footer-container;
	padding: 40px 20px;
	font-size: 16px;
}

footer {
	/* display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		'footer-top'
		'footer-bottom'; */
	display: flex;
	flex-direction: column;
}

footer a {
	text-decoration: none;
	color: #0a0a23;
}

footer p {
	line-height: 30px;
}

footer a,
footer p,
footer strong {
	margin-bottom: 15px;
}

footer .footer-top {
	display: flex;
	flex-direction: column;
}

footer .footer-top .footer-top-left {
	display: flex;
	flex-direction: column;
}

footer .footer-top .footer-top-left strong a:only-child {
	text-decoration: underline;
}

footer .footer-top .footer-top-left strong a:only-child:hover {
	text-decoration: none;
}

footer .footer-top .footer-top-right {
	display: flex;
	flex-direction: column;
}

footer .footer-top .footer-top-right .footer-top-right-1 {
	display: flex;
	flex-direction: column;
}

footer .footer-top .footer-top-right .footer-top-right-2 {
	display: flex;
	flex-direction: column;
}

footer .footer-top .footer-top-right .footer-top-right-3 {
	display: flex;
	flex-direction: column;
}

footer .footer-bottom {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

footer .footer-bottom .footer-bottom-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
} 

footer .footer-bottom .footer-bottom-content a {
	margin-right: 20px;
}

footer .footer-top-left,
footer .footer-top-right,
footer .footer-bottom {
	margin-bottom: 20px;
}




/**** Medium Device ****/


/**** Large Device ****/
@media screen and (width >= 1200px) {
	footer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			'footer-top'
			'footer-bottom';
	}
	
	footer .footer-top {
		grid-area: footer-top;
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			'footer-top-left footer-top-right';
	}
	
	footer .footer-top .footer-top-left {
		grid-area: footer-top-left;
	}
	
	footer .footer-top .footer-top-right {
		grid-area: footer-top-right;
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: auto auto;
		grid-template-areas:
			'. trending-guides .'
			'footer-top-right-1 footer-top-right-2 footer-top-right-3';
	}
	
	footer .footer-top .footer-top-right strong {
		grid-area: trending-guides;
	}
	
	footer .footer-top .footer-top-right .footer-top-right-1 {
		grid-area: footer-top-right-1;
		display: flex;
		flex-direction: column
	}
	
	footer .footer-top .footer-top-right .footer-top-right-2 {
		grid-area: footer-top-right-2;
		display: flex;
		flex-direction: column
	}
	
	footer .footer-top .footer-top-right .footer-top-right-3 {
		grid-area: footer-top-right-3;
		display: flex;
		flex-direction: column
	}
	
	footer .footer-bottom {
		grid-area: footer-bottom;
	}
}
